h1 {
  -moz-user-select: none;
  -webkit-user-select: none;
}
h3 {
  position: fixed;
  bottom: -125px;
  right: -125px;
}
#leftwords {
  float: left;
  position: fixed;
  top: 20%;
  left: 45%;
  -moz-user-select: none;
  -webkit-user-select: none;
  
}
#total_clicks {
  float: left;
  position: fixed;
  top: 20%;
  left: 52%;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#leftwords2 {
  float: left;
  position: fixed;
  top: 25%;
  left: 45%;
  -moz-user-select: none;
  -webkit-user-select: none;
  
  
}
#autoClickers {
  float: left;
  position: fixed;
  top: 25%;
  left: 52%;
  -moz-user-select: none;
  -webkit-user-select: none;
  
  
  
}
